.container-fluid{
    background-color: orange;
    height: 300px;
}

#header{
    background: pink;
}

.col,h1{
    font-size: 45px;
}
.col-sm-3 {
    position: relative;top: 20px;
}
.form{
    padding-left: 25px;
}
.h1{
    font-size: 45px;
}